.navbar{
    padding: 10px 0px 0px 50px ;
    display: flex;
    animation: hrwidth 2s;
}
.navbar hr {
    width: 93%;
}
.navbar > img{
    padding: 4px;
    background-color: black;
    border-radius: 50%;
}
@keyframes hrwidth {
    from {
        width: 0px;

    }
    to {
        width: 98%;

    }
}
@keyframes glisse {
    from {
        position: relative;
        left: auto;
    }
    to {
        position: relative;
        left: 200px;
    }
}


